<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdweiss.morgand" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.NodeListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.NodeDetailActivity"
            android:label="@string/title_node_detail"
            android:parentActivityName=".gui.NodeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.NodeListActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".settings.KeySettingActivity" >
            <intent-filter>
                <action android:name=".settings.KeySettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.LocalPathSettingsActivity" >
            <intent-filter>
                <action android:name=".settings.LocalPathSettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lamerman.FileDialog">
        </activity>

    </application>

</manifest>
